	
	<ul class="navbar-nav app-menu h-100 w-100 pt-2 px-5 pb-1 bg-light">
		<li class="nav-item" routerLinkActive="active">
			<a class="nav-link" routerLink="dashboard"><fa-icon [icon]="faHome" title="Home" class="align-middle"></fa-icon><span class="align-middle"> Dashboard</span></a>
		</li>
		<li class="nav-item" routerLinkActive="active">
			<a class="nav-link" routerLink="administration"><fa-icon [icon]="faUserEdit" title="admin" class="align-middle"></fa-icon><span class="align-middle"> Administration</span></a>
		</li>
		<li class="nav-item" routerLinkActive="active">
			<a class="nav-link" routerLink="settings"><fa-icon [icon]="faCogs" title="settings" class="align-middle"></fa-icon><span class="align-middle"> Settings</span></a>
		</li>
		<li class="nav-item" routerLinkActive="active">
			<a class="nav-link" routerLink="my-account"><fa-icon [icon]="faAddressCard" title="my-account" class="align-middle"></fa-icon><span class="align-middle"> My Account</span></a>
		</li>
		<li class="nav-item" routerLinkActive="active">
			<a class="nav-link" routerLink="faq"><fa-icon [icon]="faClipboard" title="faq" class="align-middle"></fa-icon><span class="align-middle"> FAQ</span></a>
		</li>
	</ul>
	